.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/db/3005567327ee00141408c6f715fe19a0
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.dltk.core.external.folders/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.dltk.core.external.folders/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.dltk.core.external.folders/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/market/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/market/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/market/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.dltk.core/.org.eclipse.dltk.core.external.folders/.project
.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
.metadata/.plugins/org.eclipse.dltk.core/customTimeStamps
.metadata/.plugins/org.eclipse.dltk.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/Core.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/PDO.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/PDO_OCI.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/PDO_ODBC.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/Phar.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/Reflection.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/SPL.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/SimpleXML.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/apc.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/basic.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/bcmath.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/bz2.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/calendar.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/ctype.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/curl.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/date.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/dom.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/ereg.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/exif.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/fileinfo.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/filter.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/ftp.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/gd.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/gettext.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/gmp.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/hash.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/ibm_db2.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/iconv.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/imagick.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/imap.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/intl.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/json.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/ldap.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/libxml.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/mbstring.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/mcrypt.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/memcache.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/memcached.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/mongo.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/mssql.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/mysql.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/mysqli.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/oci8.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/odbc.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/openssl.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/pcntl.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/pcre.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/pdo_dblib.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/pdo_mysql.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/pdo_pgsql.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/pdo_sqlite.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/pgsql.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/posix.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/readline.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/redis.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/session.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/shmop.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/soap.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/sockets.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/sqlite3.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/ssh2.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/standard.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/sysvmsg.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/sysvsem.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/sysvshm.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/tidy.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/tokenizer.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/uploadprogress.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/wddx.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/xml.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/xmlreader.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/xmlrpc.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/xmlwriter.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/xsl.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/zip.php
.metadata/.plugins/org.eclipse.php.core/__language__/e1dc9a47/zlib.php
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
market/.buildpath
market/.project
market/.settings/org.eclipse.core.resources.prefs
market/.settings/org.eclipse.php.core.prefs
market/.settings/org.eclipse.wst.common.project.facet.core.xml
market/market_capitalization.php
market/simple_html_dom.php
